@font-face {
    font-family: newEdge;
    src: url(fonts/NewEdge666-LightRounded.otf);
}



/* BODY AND FRAME */

body {
    background: black;
    /* color: #5000ab; */
    /* color: #2a1e41; */
    color: #100dd3;

}

.topbar {
    position: fixed;
    top: 10px;
    width: 100vw;
    display: inline-flex;
    font-family: "newEdge";
    color: #3f158d;

    /* justify-content: space-around;
    left: 316px;  
    display: flex; */
}

    #last_edit {
        position: relative;
        top: 8px;
        left: 10px;
        font-size: 7pt;
    }

    #edited {
        position: relative;
        top: 10px;
        left: 20px;
        font-size: 12pt;
    }

    #sound_gallery {
        position: relative;
        top: 10px;
        left: 45%;
        font-size: 12pt;
    }

    #abstract {
        position: relative;
        top: 10px;
        left: 50%;
        font-size: 12pt;
        cursor: crosshair;
    }

    #index {
        position: relative;
        top: 10px;
        left: 55%;
        font-size: 12pt;
        cursor: crosshair;
    }

    #readings {
        position: relative;
        top: 10px;
        left: 60%;
        font-size: 12pt;
        cursor: crosshair;
    }

    #matter {
        position: relative;
        top: 10px;
        left: 65%;
        font-size: 12pt;
        cursor: crosshair;
    }

    #abstract, #index, #readings, #matter {
    }

    #abstract:hover,
    #index:hover,
    #readings:hover,
    #matter:hover {
        color: aliceblue;
        transition: all 0.4s;
        text-decoration: line-through;
    }

.content {
    width: 100%;
    margin-top: 15vh; /* Ensure body content does not overlap header */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: "newEdge";
    line-height: 140%;
}

.emptydiv {
    width: 200px;
}



/* SOUNDS */

.sound_index, .abstract_index {
    display: inline-block;
    /* margin: 0.25em; */
    cursor: crosshair;
}

.sound {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;

    transition: transform .5s; 
    font-family:  "newEdge";
    font-size: 6vw;
    margin-inline: 1;
}

.sound_index:hover .sound, 
.abstract_index:hover .sound {
    transform: scale(0.70);
    color: aliceblue;
    transition: all 0.4s;
}

.sound_index:hover .sound_time,
.sound_index:hover .sound_place {
    opacity: 1; 
    
}

.sound_place, .sound_time {
    text-align: center;
    font-size: 10pt;
    color: aliceblue;
    transition: all 0.4s;
    opacity: 0;
}

#summary {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4px;
}

/* MODALS */

.modal {
    display: none; 
    position: fixed; 
    background-color: aliceblue;
    opacity: 0.95;
    box-shadow: white 0px 0px 50px inset; 
   
    width: 450px; 
    height : 450px; 
    top: 150px; 
    left:300px;
    z-index: 1000;
}

.modal_log {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 48px;
}

.modal_metadata {
    margin-left: 174px;
    margin-top: 30px;
    line-height: 15pt;
    font-size: 10pt;
}

.modal_entry {
    margin-top: 50px;
    margin-left: 174px;
    margin-right: 65px;
}

/* .abstract_modal {
    position: relative
    width: 500px;
    height: 500px;
    background-color: white;
    font-size: 64;
} */

.active{ 
    color: white;
}

.contentActive{
    color: black;
}